/* Entire page */
* {
  font-family: Arial;
}
body {
  position: relative;
  background-color: rgb(231, 231, 231);
  color: rgb(41, 41, 41);
  font-size: 18px;
  /* background-color: lightsteelblue;   */
}

h1 {
  /*color: pink;*/
  /*text-shadow: 2px 2px #ff0000*/
  background-image: url(https://ml4a.github.io/images/headers/monalisa_stylenet.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  opacity: 0.7; 
  color:black;
  text-align: center;
  font-size: 80px;
  width: 90%;
  /* top horizontal bottom*/
  margin: 10px auto 0;
  overflow: hidden;
}

p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(74, 76, 77);
  font-size: 25px
}

/* input{
  background-color: white;
  color: rgb(74, 76, 77);
  width:200px;
  font-size: 20px;
} */
.center-block {
  margin: auto;
  display: block;
  /* margin-right: auto;
  margin-left: auto; */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(87, 118, 143);
  color: white;
}

.center {
  text-align: center;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: auto;
  display: table-cell;
  width: 400px;
  /* vertical-align: middle; */
  /* align-content: center; */
  /* margin-left: auto;
  margin-right: auto; */
  /* height: 200px;; */
}

.verticalcenter {
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  height: 240px;
}

.verticalcenter_crop {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  height: 200px;
}

p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(74, 76, 77);
  font-size: 25px
}

/* .inputTextButton{
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  width:400px;
  margin: 5px 10px 5px 0;
} */

/* .inputTextButton{
  margin: auto auto;
  background-color: white;
  vertical-align: middle;
  padding: 10px;
  color: rgb(74, 76, 77);
  width:250px;
  font-size: 20px;
  /* top:400px; */
  /* margin: 5px 10px 5px 0;
} */
.showImageClass{
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  height: 400px;
  padding: 20px;
}

.styleImageClass{
  width: 200px;
  height: 100px;
  color: rgb(74, 76, 77);
  top: 0;
  bottom: 0;
  margin: auto 5% auto 30%;
  font-size: 25px
}
.inputImageClass{
  width: 200px;
  height: 100px;
  color: rgb(74, 76, 77);
  top: 100;
  bottom: 50;
  margin: auto 5% auto 30%;
  right: 50%;
  font-size: 25px
}


.button2 {
  background-color: #373839;
  border: 2px solid #46494A;
  border-radius: 20px;
  color: #C4C6C7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: auto 50 auto 0; */
  margin: 365px 500px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.button2:hover {
  background-color: #C4C6C7;
  color: black;
}

/* Body */
#ButtonsDiv {
  position: absolute;
  width: 90%;
  height: 30%;
}

/* All buttons */
.button, .dropdown select {
  position: absolute;

  border: 0;
  border-radius: 10px;
  line-height: 2;
  font-size: 1rem;
  color: black;

  text-shadow: lightcyan;
  background-color: lightseagreen;
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2)30%,
                                      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  display: inline-block;
}

/*Left Half*/
#importButton{
  width: 200px;
  height: 200px;
  top: 0;
  bottom: 0;
  margin: auto 5% auto 30%;
  right: 50%;
}

::-webkit-file-upload-button {
  background-color: #333;
  border: 2px solid #455054;
  border-radius: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}
::-webkit-file-upload-button:hover {
background-color: #C4C6C7;
color:black;
}
.form-submit-button {
  background-color: #333;
  border: 2px solid #455054;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 50px 200px; */
  cursor: pointer;
  transition-duration: 0.1s;
  margin: 5px 10px 5px 10px;
}
.form-submit-button:hover {
  background-color: #C4C6C7;
  color: black;
}

.textButtonForm {
  display: table-cell; 
  flex-direction: row;
  text-align: center;
}

.form-inline { 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: auto auto;
  width: 400px;
}

.form-inline input{
  background-color: white;
  vertical-align: middle;
  padding: 10px;
  color: rgb(74, 76, 77);
  width:250px;
  font-size: 20px;
  /* top:400px; */
  margin: 5px 10px 5px 0;
}

/* Style the submit button */
.form-inline button {
  background-color: #333;
  border: 2px solid #455054;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 50px 200px; */
  cursor: pointer;
  transition-duration: 0.1s;
  margin: 5px 10px 5px 0;
}

.form-inline button:hover {
  background-color: #C4C6C7;
  color: black;
}

