<html>

<head>
    <title>Style Transfer</title>
    <link rel="stylesheet" href='/static/css/home.css'>
</head>

<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About Us</a>
    </div>
    <h1>Style Transfer</h1>
    <div class="styleImageClass">
        <form method="POST" action="{{ url_for('transform') }}" enctype="multipart/form-data">
            <p> Selection Success, Submit to Transfer</p>
            <button type="submit">Submit</button>
            <img src="{{image_url}}" width="auto" height="auto" class="vertiverticalcenter_cropcalcenter">
        </form>
    </div>


</html>