<html>

<head>
    <title>Style Transfer</title>
    <link rel="stylesheet" href='/static/css/home.css'>
</head>

<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About Us</a>
    </div>
    <h1>Style Transfer</h1>
    <p> Selection Success, Submit to Transfer</p>
    <form method="POST" action="{{ url_for('transform') }}" enctype="multipart/form-data">
        <button type="submit" class="form-submit-button">Submit</button>
    </form>
    <p></p>
    <img src="{{image_url}}" width="auto" height="auto" class="showImageClass">
</body>

</html>