<html>

<head>
  <title>Style Transfer</title>
  <link rel="stylesheet" href='/static/css/home.css'>
</head>

<body>
  <div class="topnav">
    <a class="active" href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('about') }}">About Us</a>
  </div>
  <h1>Style Transfer</h1>

  <div id="ButtonsDiv">
    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data" id ='form1'>
      <div class="styleImageClass">
        <p>Style Image: </p>
        <input class="input-file" name="style_file" type="file" accept="image/*">
      </div>
      <div class="inputImageClass">
        <p>Input Image: </p>
        <input class="input-file" name="image_file" type="file" accept="image/*">
      </div>
      <div class="inputImageClass">
        <p>Transfer Options: </p>
        <select name="transfer_select">
          <option value="">--Please choose an option--</option>
          <option value="whole">Whole Image</option>
          <option value="object">Detected Objects</option>
          <option value="inverse">Inverse Detected Objects</option>
        </select>
        <p></p>
        <button class = "form-submit-button" type="submit">Submit</button>
      </div>

    </form>
  </div>
</body>

</html>